body {
  padding: 50px 100px;
}
h1 {
  text-align: center;
}
#container {
  text-align: center;
  background-color: rgb(144, 55, 108);
  padding: 50px;
}
.input {
  display: inline-block;
  width: 40vw;
}
.inp {
  width: 65%;
  padding: 5px 10px;
  margin: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
label {
  font-size: 22px;
  color: white;
}
